
mat-toolbar{
  background-color: #2E2E2E;
}
.toolbar a{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  padding-left: 5%;
  padding-right: 5%;
  
}

.toolbar mat-toolbar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "nav nav nav accInfo accInfo";
}

.nav{
  grid-area: nav;

}
.nav a{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  padding-left: 5%;
  padding-right: 5%;

}
.nick{
  grid-area: nick;

}
.nick a{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;

}
.logIn{
  grid-area: logIn;
  display: inline;
  color: white;
}

.logIn  form{
  float: left;
}

.accInfo{
  grid-area: accInfo;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "logIn . nick";
  
}