
<div class="page1">
    <div class="grid">
        <div class="header">
          <h1>STEAM BOT</h1>
        </div>


        <div class="content">
          <div class="settingCard">
              <form class="example-form">

                <div class="nameForm">
                    <mat-form-field >
                        <input #NameForm matInput placeholder="Bot name" value={{botName}}>
                      </mat-form-field><br>
                </div>
                <div class="descriptionForm">
                    <mat-form-field>
                      <textarea #DiscriptionForm matInput placeholder="Discription" value={{botDiscription}}>></textarea>
                      </mat-form-field><br>
                </div>
                <div class="welcomeForm">
                    <mat-form-field>
                        <textarea #WelcomeForm matInput placeholder="Welcome message" value={{botWelcome}}>></textarea>
                      </mat-form-field><br>
                </div>
                <div class="respondForm">
                    <mat-form-field>
                      <textarea #RespondForm matInput placeholder="Respond message" value={{botRespond}}>></textarea>
                    </mat-form-field><br>
                </div>


                <div>
                <button class="btn" type="button" mat-raised-button color="accent"  (click)="sendSettings(NameForm.value, DiscriptionForm.value, RespondForm.value)">Change settings</button>
              </div>
            
          </form>
          </div>
            
        </div>
      </div>
</div>
