
*{
    margin: 0;
    padding: 0;
}
.grid{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    grid-template-rows: 100%;
    grid-template-areas:
    ". content ."
}

.content{
    grid-area: content;
    background-color: rgba(110, 104, 104, 0.438);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "square square nameForm nameForm"
    "square square descriptionForm descriptionForm"
    "welcomeForm  welcomeForm welcomeForm welcomeForm"
    "respondForm respondForm respondForm respondForm"
    ". btn btn ."
}

.nameForm{
    margin-top: 5%;
    margin-right: 20%;
    grid-area: nameForm;
}
.square{
   border:solid;
    margin-left:10%;
    margin-top:5%;
 background-image: url("..\images\dogo.png");
 background-size: cover;
 width: 60%;
 height: 80%;
 grid-area: square;
}
.descriptionForm{
    margin-right: 20%;
    grid-area: descriptionForm;
    
}
.welcomeForm{
    margin-left: 5%;
    width:85%;
    grid-area: welcomeForm;
}
.respondForm{
    margin-left: 5%;
    width:85%;
    grid-area: respondForm;
}
.btn{
    grid-area: btn;
}

mat-form-field{
    background-color: rgb(250, 250, 250);
    width:100%;
}

mat-form-field input{
    width:100%;
    height: auto;
    width: initial;
    padding: 0;
}

.page1{
    background-image: url("..\images\settingBg.png");
    background-size: cover;
    background-position-y: -25vh;
    height: 100%;
}

