

  <div class="page1">
      <div class="grid">
          <div class="content">
            <div class="slogan">
                <div class="slText"><h1>Find costumer<br> where
                  they want to be
                  found</h1>
                  </div>
            </div>
          
            <div class="description">
              <div class="text">
                <h1>
                  Reach your audience in seconds
                </h1>
                <h2>
                  Communicate with gamers<br>
                  Communicate with gamers<br>
                  Communicate with gamers<br>
                  Communicate with gamers<br>
                  Communicate with gamers<br>
                  Communicate with gamers
                </h2>  
                
              </div>
              <div class="accInfo">
                          <form>
                                  <mat-form-field>
                                    <input #MessageLogin matInput placeholder="Text your name here" value="Guest">
                                  </mat-form-field>
                          </form>
                          <button type="button" mat-raised-button color="warn" (click)="sendLogin(MessageLogin.value)">Try For Free</button>
                
              </div>
              <div class="nick">
                  <a>{{userName}}</a>
              </div>
            </div>
          

        </div>
      </div>
  </div>

  <div class="page2">

  </div>
 






