*{
    margin: 0;
    padding: 0;
}
.grid{
    display: grid;
    height: 100%;
}

.content{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "slogan description"
}
.slogan{

    grid-area: slogan;
    grid-template-columns: 1fr  1fr;
    grid-template-areas: 
    ". txt";

}
.slText{
    grid-area: txt;
    text-align: center;
}
.slText >h1{
    font-family: "Motiva Sans", Sans-serif; 
    color:rgb(137, 143, 143);
    font-size: 55px;
    
}


.description{
    
    grid-area: description;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". . . . ."
    ". . text text text"
     ". . text text text"
     ". . . accInfo ."
     ". . . . .";
}
.accInfo{
    grid-area: accInfo;
  }


.text > h1 {
    font-family: "Motiva Sans", Sans-serif; 
    padding: 10px;
    color:rgb(137, 143, 143);
    font-size: 30px;
}
.text > h2 {
    font-family: "Motiva Sans", Sans-serif; 
    padding: 10px;
    color:rgb(137, 143, 143);
    font-size: 20px;
}

.text{
    grid-area: text;
    text-align: center;
}

.accInfo > button{
    height: 10vh;
    width: 15vw;
    font-size: 20px;
    border: none;
}



.page1{
    background-image: url("..\images\Desktop.png");
    background-size: cover;
    
    height: 100%;
    width: 100%;

}
.page2{

    height: 100vh;
}