

  <div class="page1">
      <div class="grid">
          <div class="content">
            <div class="slogan">
                <div class="slText"><h1>Reach customers<br> where
                  they want to be
                  found</h1>
                  </div>
            </div>
          
            <div class="description">
              <div class="text">
                <h1>
                  Improve your retention in seconds
                </h1>
                <h2>
                    Create your own personal Steam bot.<br>
                    Easy to use, customize<br>
                    and manage
                </h2>  
                
              </div>
              <div class="accInfo">
                          <form>
                                  <mat-form-field>
                                    <input #MessageLogin matInput  placeholder="Text your name here" value="Guest">
                                  </mat-form-field>
                          </form>
                          <button type="button" mat-raised-button color="warn" (click)="sendLogin(MessageLogin.value)">Try For Free</button>
                
              </div>
              
                  
              
            </div>
          

        </div>
      </div>
  </div>
 






