.example-card {
  max-width: 600px;
}
.message-stats {
  max-width: 600px;
  background-color: beige;
  box-shadow: 3px;
}

.example-header-image {
  background-image: url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/a2/a25e3d09d51259e3ef3638c8ad5171b4fc22d79f_full.jpg');
  background-size: cover;
}
.grid{
  background-image: url("..\images\settingBg.png");
  background-size: cover;
  background-position-y: -25vh;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  grid-template-areas:
  ". content ."
}

.content {
  perspective: 1px;
  height: 100%;
  grid-area: content;
  overflow: hidden;
}
.contentScroll{
  height: 100%;
  margin-right: -50px; 
  padding-right: 50px; 
  overflow-y: scroll;
}
